////////////
//  Color
////////////

$color:#0071BC;
$fill-color: #0071BC;
$color-light: #DCE2E5;

////////////
//  Font
////////////

//Weight
$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
//Size
$font-size-small: 14px;
$font-size-normal: 18px;
$font-size-big: 24px;
