//General Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
  //App Basics
.App {
    width: 100vw;
    height: 100vh;
    max-width: 375px; //to contain it on desktop mode
}

a {
    color: $color;
    text-decoration: none;
}


p {
    @include font-text;
    text-align: center;   
}