.landing-component {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 0 16px;
    height: 100%;
    img {
        margin: 6rem 0;
    }
    h1 {
        @include font-h1;
    }
    .landing-top {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        width: 100%;
    }
    .bottom-btn-container {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        * {
            width: 100%;
        }
        button {
            @include form-btn-emphasized;
            margin: 16px 0;
        }
    }

}