.landing-component {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        margin: 14rem 0 6rem;
    }

    h1 {
       @include font-h1;
    }
    p {
        @include font-text;
    }

}