.login-component {
    height: $component-height;
    padding: 0 16px;
    .login-body {
        height: 100%;
        form {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            height: 100%;
            .login-top {
                align-self: flex-end;
                position: relative;
                label {
                    input {
                        @include input-field;
                    }
                }
                a {
                    position: absolute;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-small;
                    right: 32px;
                    bottom: 30px;
                }

            }
            .bottom-btn-container {
                align-self: flex-end;
            }
        }
    }
}