
.login-body {
    form {
        .top-container {
            p {
                margin: 2rem 0 4rem;
            }
            a {
                position: absolute;
                font-weight: $font-weight-bold;
                font-size: $font-size-small;
                right: 32px;
                bottom: 30px;
            }
        }
    }
}
