.registration-component {
    @include component-base;
    form {
        display: flex;
        position: relative;
        height: 100%;
        
        .registration-top {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100vw;
            height: 80%;
            
            .center, .to-left, .to-right {
                position: relative;
                padding: 0 16px;
                transition: .5s;
            }
            .center {
                right: 0;
            }
            .to-left {
                right: 100%;
            }
            .to-right {
                right: -100%
            }
            h2 {
                @include font-h1;
                margin-bottom: 16px;
            }
            p {
                @include font-text;
                margin-bottom: 12px;
            }
        }

        label {
            width: 100%;
            margin: 24px 0;
            input {
                @include input-field;
            }
        }

    }
        .bottom-btn-container {
            button:last-child {
                @include form-btn-emphasized;
            }
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 16px 34px;
        }
}